
$offline-color: #F22;
$online-color: #506E40;



$header-color: #323232;


#bc-uploader {
  background-color: $header-color;
  border: 3px solid black;
  width: 60%;

  ul.bc-controls {
    list-style: none;
    padding: 0;
    margin: 0;


    li {
      display: inline-block;
      padding: 5px;
      font-size: 14px;
      font-weight: bold;
      color: #CCC;
      cursor: pointer;

      &.disabled {
        font-weight: normal;
        color: #848484;
      }
    }
  }

  div.bc-banner {
    padding: 10px 5px;

    span {
      font-size: 18px;
      font-weight: bold;
      color: grey;
    }
  }


  div.bc-content {
    padding: 5%;

    div.bc-upload {

      div.bc-file-drop {
        position: relative;
        padding-bottom: 10%;
        width: 100%;

        &:after {
          padding-top: 56.25%;
          /* 16:9 ratio */
          display: block;
          content: '';
        }

        .file-drop {
          display:block;
          border:5px dashed grey;
          background-color:#242424;
          text-align:center;
          vertical-align:middle;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;

          .text {
            cursor:default;
            font-size:2em;
            font-weight:bold;
            color:grey;
            -moz-user-select:none;
            -webkit-user-select:none;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
      }

      div.progress {
        display: none;
      }
    }

    div.bc-transcode {
      display: none;

      div.progress {

      }
    }

    div.bc-list {
      display: none;
    }


    // general elemements

    div.circle-container {
      position: relative;
      text-align: center;

      strong {
        position: absolute;
        font-size: 16px;
        color: rgb(164, 164, 164);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }


}














