
$offline-color: #F22;
$online-color: #506E40;






.file-drop-wrapper {
  /* whatever width you want */
  display: inline-block;
  position: relative;
  padding-bottom: 10%;
  width: 50%;

  &:after {
    padding-top: 56.25%;
    /* 16:9 ratio */
    display: block;
    content: '';
  }

  .file-drop {
    display:block;
    border:5px dashed grey;
    background-color:#EEE;
    text-align:center;
    vertical-align:middle;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    .text {
      cursor:default;
      font-size:2em;
      font-weight:bold;
      color:grey;
      -moz-user-select:none;
      -webkit-user-select:none;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}



.progress-bar {
  position: relative;
  background-color: #1a1a1a;
  height: 25px;
  width: 350px;
  margin: 50px 0;
  border-radius: 5px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  border: 5px solid rgb(23, 23, 23);

  span.bar {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
    position: absolute;
    z-index: 3;

    &::after {
      content: '';
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #fff;
      border-radius: 3px;
      animation: animate-shine 2s ease-out infinite;
    }
  }

  span.text {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-weight: bold;
    z-index: 5;
    font-size: 14px;
    padding: 3px 0px 0px;
  }
}


.blue span.bar {
  background-color: #34c2e3;
}

.orange span.bar {
  background-color: #fecf23;
  background-image: linear-gradient(top, #fecf23, #fd9215);
}

.red span.bar {
  background-color: #FF4D4D;
  background-image: linear-gradient(top, #FF5C5C, #B24040);
}

.green span.bar {
  background-color: #a5df41;
  background-image: linear-gradient(top, #a5df41, #4ca916);
}

.stripes span.bar {
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
          transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
          transparent 75%, transparent);

  animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@keyframes animate-shine {
  0% {opacity: 0; width: 0;}
  50% {opacity: .5;}
  100% {opacity: 0; width: 95%;}
}

