<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">
    <div id="bc-uploader">
        <div class="bc-banner">
            <a class="filelink" target="_blank">
                <h3 class="filename"></h3>
                <span class="filesize"></span>
            </a>
        </div>
        <div class="bc-content">
            <div data-index="1" class="bc-upload">
                <div class="bc-file-drop">
                    <div class="file-drop">
                        <div class="text">Drop file here</div>
                    </div>
                </div>
                <div class="progress">
                    <div class="circle-container">
                        <strong>100<i>%</i></strong>
                    </div>
                </div>
            </div>
            <div data-index="2" class="bc-transcode">
                <div class="spinner">
                    <div class="loader"></div>
                </div>
                <div class="form">
                    <f:render partial="TranscodeForm" />
                </div>
                <div class="progress">
                    <div class="circle-container">
                        <strong>100<i>%</i></strong>
                    </div>
                </div>
            </div>

            <div data-index="3" class="bc-list">
                <p>Liste</p>
            </div>
        </div>
        <ul class="bc-controls">
            <li data-index="1" class="upload">Upload</li>
            <li data-index="2" class="transcode disabled">Transcode</li>
            <li data-index="3" class="list disabled">List</li>
        </ul>
    </div>
</f:section>