<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">

    <div class="file-drop-wrapper">
        <div class="file-drop" data-url="{f:uri.action(action:'handle', controller:'File', pluginName:'File', pageType:'165237')}" data-worker="{f:uri.resource(path:'js/blob_worker.js')}">
            <div class="text">Drop file here</div>
        </div>
    </div>

    <div class="progress-bar red shine">
        <span class="text"></span>
        <span class="bar" style="width:0%"></span>
    </div>

    <ul>
        <f:for each="{files}" as="file">
            <li>
                <f:link.action target="_blank" action="download" controller="File" pluginName="File" pageType="165237" additionalParams="{v:'{file.hash}'}">
                    {file.name}
                </f:link.action>
                <f:link.action action="prepare" arguments="{file: file}">
                   CONVERT
                </f:link.action>
                <f:link.action target="_blank" action="state" controller="File" pluginName="File" pageType="165237" arguments="{hash: file.hash}">
                    STATE
                </f:link.action>
            </li>
        </f:for>
    </ul>

</f:section>