/* line 10, ../../Private/Sass/style.scss */
#bc-uploader {
  background-color: #323232;
  border: 3px solid black;
  width: 60%;
}
/* line 15, ../../Private/Sass/style.scss */
#bc-uploader ul.bc-controls {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 21, ../../Private/Sass/style.scss */
#bc-uploader ul.bc-controls li {
  display: inline-block;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #CCC;
  cursor: pointer;
}
/* line 29, ../../Private/Sass/style.scss */
#bc-uploader ul.bc-controls li.disabled {
  font-weight: normal;
  color: #848484;
}
/* line 36, ../../Private/Sass/style.scss */
#bc-uploader div.bc-banner {
  padding: 10px 5px;
}
/* line 39, ../../Private/Sass/style.scss */
#bc-uploader div.bc-banner span {
  font-size: 18px;
  font-weight: bold;
  color: grey;
}
/* line 47, ../../Private/Sass/style.scss */
#bc-uploader div.bc-content {
  padding: 5%;
}
/* line 52, ../../Private/Sass/style.scss */
#bc-uploader div.bc-content div.bc-upload div.bc-file-drop {
  position: relative;
  padding-bottom: 10%;
  width: 100%;
}
/* line 57, ../../Private/Sass/style.scss */
#bc-uploader div.bc-content div.bc-upload div.bc-file-drop:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
/* line 64, ../../Private/Sass/style.scss */
#bc-uploader div.bc-content div.bc-upload div.bc-file-drop .file-drop {
  display: block;
  border: 5px dashed grey;
  background-color: #242424;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 76, ../../Private/Sass/style.scss */
#bc-uploader div.bc-content div.bc-upload div.bc-file-drop .file-drop .text {
  cursor: default;
  font-size: 2em;
  font-weight: bold;
  color: grey;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 92, ../../Private/Sass/style.scss */
#bc-uploader div.bc-content div.bc-upload div.progress {
  display: none;
}
/* line 97, ../../Private/Sass/style.scss */
#bc-uploader div.bc-content div.bc-transcode {
  display: none;
}
/* line 105, ../../Private/Sass/style.scss */
#bc-uploader div.bc-content div.bc-list {
  display: none;
}
/* line 112, ../../Private/Sass/style.scss */
#bc-uploader div.bc-content div.circle-container {
  position: relative;
  text-align: center;
}
/* line 116, ../../Private/Sass/style.scss */
#bc-uploader div.bc-content div.circle-container strong {
  position: absolute;
  font-size: 16px;
  color: #a4a4a4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
